<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="./style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Techno - VueJS begginer project</title>
  </head>
  <body>
    <div id="app">
      <!--MODAL-->
      <section class="modal" v-if="produto" @click="fecharModal">
        <div class="modal_container">
          <div class="modal_img">
            <img :src="produto.img" :alt="produto.nome" />
          </div>
          <div class="modal_dados">
            <button @click="produto = false" class="modal_fechar">X</button>
            <span class="modal_preco">{{produto.preco | numeroPreco}}</span>
            <h2 class="modal_titulo">{{produto.nome}}</h2>
            <p>{{produto.descricao}}</p>
            <button class="modal_btn">Adicionar Item</button>
          </div>
          <div class="avaliacoes">
            <h2 class="aval_subtitulo">Avaliações</h2>
            <ul>
              <li v-for="aval in produto.reviews" class="aval">
                <p class="aval_descricao">{{aval.comentario}}</p>
                <p class="aval_usuario">
                  {{aval.nome}} | {{aval.estrelas}} estrelas
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!--/ MODAL-->

      <section class="produtos">
        <div
          class="produto"
          @click="abrirModal(produto.id)"
          v-for="produto in produtos"
          :key="produtos.id"
        >
          <img :src="produto.img" :alt="produto.nome" class="produto_img" />

          <div class="produto_info">
            <span class="produto_preco">{{produto.preco | numeroPreco}}</span>
            <h2 class="produto_nome">{{produto.nome}}</h2>
          </div>
        </div>
      </section>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
